### Generic ###

# VIM
*.sw*
*.vim*
*.obsession*

# misc. garbage
*.bak
*.old*
~*
*~
-
tmo
*.tmp

# XDG stuff
.Trash-*

# Damn you steve jobs!!!!
.DS_Store

# Damn you bill gates!!!!
$RECYCLE.BIN
System Volume Information
*.dll

# vscope
.vscode/*
*.code-workspace
.history/

# potential credentials
*.pem
*.secret
*.key
**/credentials.json
**/client_secrets.json
**/client_secret.json
*creds*
*.dat
*password*
*.httr-oauth*
*.env
!*.sample.env

# C/C++
*.o
*.out
*.a
*.so

# Python
__pycache__/
*.py[cod]
*$py.class
.clirope
*.egg-info
build
dist
coverage.json
htmlcov
*.spec
.coverage
.ipynb_checkpoints
venv*

# Archives
*.zip
*.tar
*.rar
*.tar.*
*.tzst
*.tgz
*.txz
*.zst
*.gz

# Multimedia
*.xcf
*.svg
*.jpg
*.jpeg
*.png
*.avif
*.gif
*.pdf
*.gv
!img/*.jpg
!img/*.png
!img/*.svg
!img/*.gv

# CMake

CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.cmake
.cmake
.skbuild-info.json
CMakeInit.txt

# Rust

target

# Godot

.godot/
/android/

### Project-specific ###

pkg/*/vendor/.verified_ok
pkg/*/.lint_ok
pkg/*/build
pkg/*/built
pkg/*/*.deb

# archives in `vendor` are git-annex symlinks
!pkg/*/vendor/*.sig
!pkg/*/vendor/*.url
!pkg/*/vendor/*.txt
!pkg/*/vendor/*.tar.gz



