services:
  dev:
    init: true
    #container_name: dev
    hostname: deb-stratal-dev
    build: .
    volumes:
      - /dev/null:/play/compose.yml:ro
      - .:/play
      #- /lib/modules:/lib/modules:ro

    working_dir: /play
    stdin_open: true
    tty: true
    command: sleep 99999999

