Source: libhdf5-static-pic
Section: devel
Priority: optional
Maintainer: maybetree <maybetree@stratal.systems>
Build-Depends: build-essential, debhelper (>= 9)

Package: libhdf5-static-pic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: hdf5 compiled as static position-independent libraries.

